.wrap {
    padding-top: 110px;
    padding-bottom: 30px;
    min-height: 100%;
}

.footer-content {
    background-color: #0f0f0f;
    height: 30px;
    margin-top: -30px;
    position: relative;
}

.legend {
    color: whitesmoke;
}

html, body { height: 100%; }
