<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Client Url Shortener</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Bootstrap -->
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{css/bootstrap-theme.min.css}" rel="stylesheet" />

    <link th:href="@{css/url-shortener.css}" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <[endif]-->
</head>
<body>

    <nav th:replace="navbar :: top-navbar"></nav>

    <div class="container wrap">
        <div class="well">
            <!--<form id="shortener" class="form-horizontal" role="form" action="/shortener">-->
            <form id="shortener" class="form-horizontal" role="form" action="#" th:object="${shortenUrl}">
                <div class="form-group">
                    <div class="row">
                        <label for="typed" class="col-xs-12 col-sm-2 control-label">Paste your long url</label>

                        <div class="col-xs-12 col-sm-9">
                            <input id="typed" type="url" th:name="*{typed}" th:field="*{typed}" value=""
                                   class="form-control"
                                   autofocus="on" role="textbox"
                                   required="required" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-offset-2 col-sm-2">
                        <button type="submit" class="btn btn-success">Shorten url</button>
                    </div>
                    <div class="col-xs-12 col-sm-offset-3 col-sm-4">
                        <input id="shorten"  th:name="*{shorten}" th:field="*{shorten}" value=""
                               class="pull-right form-control bg-success"
                               data-toggle="tooltip" data-placement="top" title="Press CTRL+C to copy"
                               data-container="body" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <footer class="footer-content">
        <div class="container">
            <div th:include="footer :: copyright-footer"></div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
    <script type='text/javascript'>
        $(document).ready(function() {
            $('#shorten').hide();
            $('[data-toggle="tooltip"]').tooltip();

            var json;
            function addFormElements(element, index, array) {
                if (!index) {
                    json = new Object();
                }
                json[element.name] = element.value;
            };

            function getAbsolute(path) {
                return location.origin + '/' + path;
            }

            $('#shortener').submit(function(event) {

                /* stop submitting */
                event.preventDefault();

                $('#shortener').serializeArray().forEach(addFormElements);

                $.ajax({
                    url: $(this).attr( 'action' ),
                    data: JSON.stringify(json),
                    type: "POST",

                    beforeSend: function(xhr) {
                        xhr.setRequestHeader("Accept", "application/json");
                        xhr.setRequestHeader("Content-Type", "application/json");
                    },
                    success: function(data) {
                        if (data.shorten) {
                            $('#shorten').val(getAbsolute(data.shorten));
                            $('#shorten').show();
                            $('#shorten').select();
                        }
                    }
                })
            });
        });
    </script>
</body>
</html>